<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.eclipse.ui.views">
        <category
            name ="Sanity4J Category"
            id   ="com.github.sanity4j.eclipse.plugin">

        </category>

        <view
            name     ="Sanity4J results"
            icon     ="icons/runqa.gif"
            category ="com.github.sanity4j.eclipse.plugin"
            class    ="com.github.sanity4j.plugin.views.SimpleBrowserView"
            id       ="com.github.sanity4j.eclipse.plugin.views.SimpleBrowserView">

        </view>

    </extension>

    <extension point="org.eclipse.ui.editorActions">

        <editorContribution
            id       ="com.github.sanity4j.plugin.RunQaEditorContribution"
            targetID ="org.eclipse.jdt.ui.CompilationUnitEditor">

            <action
                id           ="com.github.sanity4j.plugin.action1"
                class        ="com.github.sanity4j.plugin.actions.RunQaAction"
                icon         ="icons/runqa.gif"
                definitionId ="com.github.sanity4j.runQA"
                label        ="Run QA"
                style        ="push"
                toolbarPath  ="Normal"
                tooltip      ="Runs Sanity4J">

            </action>

        </editorContribution>

    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="com.github.sanity4j.plugin.preferences.PreferenceInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page
            class ="com.github.sanity4j.plugin.preferences.Sanity4JPreferencePage"
            id    ="com.github.sanity4j.plugin.preferences.Sanity4JPreferencePage"
            name  ="Sanity4J Preferences"/>

    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             categoryId="org.eclipse.debug.ui.category.run"
             description="Run the Sanity4J Quality Analysis tools"
             id="com.github.sanity4j.runQA"
             name="Sanity4J Run QA">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="com.github.sanity4j.runQA"
             contextId="org.eclipse.jdt.ui.javaEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M2+Q">
       </key>
    </extension>

</plugin>
